{% extends "base.html" %}

{% block content %}
  <div class="page-header d-flex align-items-center justify-content-between mb-3 page-centered">
    <h4 class="m-0">Login</h4>
  </div>
  <div class="card p-3 card-auth">
    <form method="post" action="/login">
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" name="username" required />
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password" required />
      </div>
      <button class="btn btn-primary" type="submit">Login</button>
    </form>
  </div>
{% endblock %}




